body * {
  font-family: 'Lato', sans-serif;
}

.desktop-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-image: url("assets/intro/navbar-bg.png");
  height: 90px;
  width: 100%;
}

nav ul {
  display: none;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border: 3px solid hotpink;
  padding: 0;
}

nav ul li {
  margin: 16px;
  padding: 0;
  border: 3px solid green;
}

.logo {
  display: none;
}

.intro *{
  font-family: 'Lato', sans-serif;
  margin-left: 16px;
}

.intro {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: rgba(211, 211, 211, 0.2);
}

.intro h1 {
  font-size: 42px;
  font-style: bold;
  color: rgba(236, 83, 66, 0.7);
  background-image: url("assets/intro/coffee-bg.jpeg");
  /* background-size: cover; */
  -webkit-background-clip: text;
  padding: 0;
  margin-top: -16px;
}

.intro p {
  padding-top: 28px;
  margin-top: -16px;
  color: #ec5242;
  font-size: 22px;
}

.intro article {
  font-size: 16px;
  border: 4px solid white;
  padding: 12px;
  margin-top: -22px;
  margin-left: 12px;
  width: 85%;
}

.intro h3 {
  font-style: bold;
  font-weight: bold;
  margin-top: 8px;
  margin-bottom: 0;
}

.intro h5 {
  color: rgba(76, 75, 75, 0.741);
  font-size: 16px;
  margin-top: 8px;
  margin-bottom: 48px;
}

.program {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #272a31ff;
  /* background-image: url("assets/program/beans.png"); */
}

.program h3 {
  color: #fff;
  margin-bottom: 16px;
}

.program .bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("assets/program/beans.png");
  background-size: 20px 20px;
}

hr {
  margin-top: 0;
  width: 70px;
  border: 1px solid #ec5242;
}

.event {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 16px;
}

.event-img {
  width: 70px;
  height: 70px;
  flex: 0 1 70px;
}

.event h3 {
  color: #ec5242;
  flex: 0 1 120px;
}

.event p {
  color: #fff;
  font-size: 14px;
  flex: 0 1 200px;
}

.program button {
  background-color: #ec5242;
  color: #fff;
  border: none;
  padding: 22px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 75%;
}

.speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speakers h3 {
  margin-bottom: 16px;
}

.speakers hr {
  margin-bottom: 32px;
}

.speaker {
  display: flex;
  width: 90%;
  height: 100%;
  margin-bottom: 28px;
  margin-left: 16px;
}

.speaker img {
  width: 120px;
  height: 120px
}

.speaker h3 {
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.speaker .subheading {
  margin-top: 0;
  color: #ec5242;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 0;
}

.speaker section {
  margin-left: 16px;
  margin-top: -2px;
  padding: 0;
}

.speaker hr {
  width: 20px;
  border: 1px solid #d3d3d3;
  margin: 10px 0 10px 0;
}

.speaker article {
  width: 90%;
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 16px;
}

.speakers button {
  font-size: 14px;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  padding: 16px 16px;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 90%;
}

@media screen and (min-width: 768px) {
  nav {
    background-color: #fff;
    background-image: none;
    /* add shadow to bottom */
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  nav ul {
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  nav {
    justify-content: flex-start;
  }

  .logo {
    display: flex;
    margin: 0;
    padding: 0;
  }
  nav img {
    margin-top: 16px;
    margin-left: 28px;
    width: 30px;
    height: 30px;
  }
}



